.card {
    height: 120px;
    background: #6CADDC;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }
  
  .card:hover {
      transform: scale(1.06);
  }
  
  img {
    width: 60%;
  }