ol {
	width: 400px;
	margin: auto;
}

.instructionsModal {
	width: 100%;
	height: 100vh;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding-top: 20vh;
}
